include headerMypage
nav 
  #wrapper.d-flex
    //- Sidebar
    #sidebar-wrapper.border-end.bg-white
      .sidebar-heading.border-bottom.bg-light My Page
      .list-group.list-group-flush
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='http://localhost:3000/mypage') Profile
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='http://localhost:3000/qna') Q&A
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Event
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Status1
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Status2
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Status3
    
    //- Body(After modify)
    #wrapper
        | 단순히 infoModify에서 수정 버튼 누르는 순간 input 내용 request 받는 용도

include footerMypage