doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title Shop Homepage - Sensitive 
  // Favicon
  link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
  // Bootstrap icons
  link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css', rel='stylesheet')
// Navigation
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container.px-4.px-lg-5
    a.navbar-brand(href='#!') Sensitive 
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0.ms-lg-4
        li.nav-item
          a.nav-link.active(aria-current='page', href='#!') 홈
        li.nav-item
          a.nav-link(href='#!') 브랜드스토리
        li.nav-item
          a.nav-link(href='#!') 구독하기
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false') 구매
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='#!') 체험 세트
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='#!') 면도기
            li
              a.dropdown-item(href='#!') 면도날
            li
              a.dropdown-item(href='#!') 쉐이빙젤
            li
              a.dropdown-item(href='#!') 애프터쉐이브
      form.d-flex
        button.btn.btn-outline-dark(type='submit')
          i.bi-cart-fill.me-1
          |                             장바구니
          span.badge.bg-dark.text-white.ms-1.rounded-pill 0
// Header
header.bg-dark.py-5
  .container.px-4.px-lg-5.my-5
    .text-center.text-white
      h1.display-4.fw-bolder 게을러도 괜찮은 생활, 부담없이 시작하세요
      p.lead.fw-normal.text-white-50.mb-0 면도기와 쉐이빙 젤 무료. 써보고 결정하세요
// Section
section.py-5
  .container.px-4.px-lg-5.mt-5
    .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
      .col.mb-5
        .card.h-100
          // Product image
          img.card-img-top(src='./assets/trial-set-main-0.png', alt='...')
          // Product details
          .card-body.p-4
            .text-center
              // Product name
              h5.fw-bolder 체험 세트
              // Product price
              | 8,900원
          // Product actions
          .card-footer.p-4.pt-0.border-top-0.bg-transparent
            .text-center
              .btn-group(role='group')
                button.btn.btn-sm.btn-outline-secondary(type='button') 장바구니
                button.btn.btn-sm.btn-outline-secondary(type='button') 구매하기
      .col.mb-5
        .card.h-100
          // Sale badge
          .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem') Sale
          // Product image
          img.card-img-top(src='./assets/12-shaving-set-main-0.png', alt='...')
          // Product details
          .card-body.p-4
            .text-center
              // Product name
              h5.fw-bolder 아마존 No.1 면도세트 12개입
              // Product reviews
              .d-flex.justify-content-center.small.text-warning.mb-2
                .bi-star-fill
                .bi-star-fill
                .bi-star-fill
                .bi-star-fill
                .bi-star-fill
              // Product price
              span.text-muted.text-decoration-line-through 44,900원
              |                                     39,900원
          // Product actions
          .card-footer.p-4.pt-0.border-top-0.bg-transparent
            .text-center
              .btn-group(role='group')
                button.btn.btn-sm.btn-outline-secondary(type='button') 장바구니
                button.btn.btn-sm.btn-outline-secondary(type='button') 구매하기
      .col.mb-5
        .card.h-100
          // Sale badge
          .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem') Sale
          // Product image
          img.card-img-top(src='./assets/24-shaving-set-main-0.png', alt='...')
          // Product details
          .card-body.p-4
            .text-center
              // Product name
              h5.fw-bolder 아마존 No.1 면도세트 24개입
              // Product reviews
              .d-flex.justify-content-center.small.text-warning.mb-2
                .bi-star-fill
                .bi-star-fill
                .bi-star-fill
                .bi-star-fill
                .bi-star-fill
              // Product price
              span.text-muted.text-decoration-line-through 74,900원
              |                                     52,430원
          // Product actions
          .card-footer.p-4.pt-0.border-top-0.bg-transparent
            .text-center
              .btn-group(role='group')
                button.btn.btn-sm.btn-outline-secondary(type='button') 장바구니
                button.btn.btn-sm.btn-outline-secondary(type='button') 구매하기
      .col.mb-5
        .card.h-100
          // Product image
          img.card-img-top(src='./assets/cartridge-main-0.png', alt='...')
          // Product details
          .card-body.p-4
            .text-center
              // Product name
              h5.fw-bolder 5중날 카트리지 4개입              
              // Product price
              | 10,000원
          // Product actions
          .card-footer.p-4.pt-0.border-top-0.bg-transparent
            .text-center
              .btn-group(role='group')
                button.btn.btn-sm.btn-outline-secondary(type='button') 장바구니
                button.btn.btn-sm.btn-outline-secondary(type='button') 구매하기
      .col.mb-5
        .card.h-100         
          // Product image
          img.card-img-top(src='./assets/gel-main-0.png', alt='...')
          // Product details
          .card-body.p-4
            .text-center
              // Product name
              h5.fw-bolder 시카 쉐이빙 젤 2.3
              // Product price
              | 9,900원
          // Product actions
          .card-footer.p-4.pt-0.border-top-0.bg-transparent
            .text-center
              .btn-group(role='group')
                button.btn.btn-sm.btn-outline-secondary(type='button') 장바구니
                button.btn.btn-sm.btn-outline-secondary(type='button') 구매하기
      .col.mb-5
        .card.h-100
          // Product image
          img.card-img-top(src='./assets/toner-main-0.png', alt='...')
          // Product details
          .card-body.p-4
            .text-center
              // Product name
              h5.fw-bolder 시카 토너 스프레이
              // Product price
              | 9,900원
          // Product actions
          .card-footer.p-4.pt-0.border-top-0.bg-transparent
            .text-center
              .btn-group(role='group')
                button.btn.btn-sm.btn-outline-secondary(type='button') 장바구니
                button.btn.btn-sm.btn-outline-secondary(type='button') 구매하기
      .col.mb-5
        .card.h-100          
          // Product image
          img.card-img-top(src='./assets/lotion-main-0.png', alt='...')
          // Product details
          .card-body.p-4
            .text-center
              // Product name
              h5.fw-bolder 시카 로션               
              // Product price              
              | 9,900원
          // Product actions
          .card-footer.p-4.pt-0.border-top-0.bg-transparent
            .text-center
              .btn-group(role='group')
                button.btn.btn-sm.btn-outline-secondary(type='button') 장바구니
                button.btn.btn-sm.btn-outline-secondary(type='button') 구매하기
      .col.mb-5
        .card.h-100
          // Product image
          img.card-img-top(src='./assets/full-care-set-main-0.png', alt='...')
          // Product details
          .card-body.p-4
            .text-center
              // Product name
              h5.fw-bolder [선물]풀케어 세트
              // Product reviews
              .d-flex.justify-content-center.small.text-warning.mb-2
                .bi-star-fill
                .bi-star-fill
                .bi-star-fill
                .bi-star-fill
                .bi-star-fill
              // Product price
              | 59,800원
          // Product actions
          .card-footer.p-4.pt-0.border-top-0.bg-transparent
            .text-center
              .btn-group(role='group')
                button.btn.btn-sm.btn-outline-secondary(type='button') 장바구니
                button.btn.btn-sm.btn-outline-secondary(type='button') 구매하기
// Footer
footer.py-5.bg-dark
  .container
    p.m-0.text-center.text-white Copyright &copy; Your Website 2021
// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
// Core theme JS
script(src='js/scripts.js')
