<head>    
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container px-4 px-lg-5"><a class="navbar-brand" href="#!"><img src="http://127.0.0.1:5500/kdigital4/nodejs%20work/2nd_project/product/assets/img/logo.png" width="230px"></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#!">login</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">subscribe</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">board</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">product</a>
                        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">체험 세트</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#!">면도기</a></li>
                            <li><a class="dropdown-item" href="#!">면도날</a></li>
                            <li><a class="dropdown-item" href="#!">쉐이빙젤</a></li>
                            <li><a class="dropdown-item" href="#!">애프터쉐이브</a></li>
                        </ul> -->
                    </li>
                </ul>                
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h4 class="display-4 fw-bolder">게을러도 괜찮은 생활, 부담없이 시작하세요</h4>
                <br>
                <p class="lead fw-normal text-white-50 mb-0">면도기와 쉐이빙 젤 무료. 써보고 결정하세요</p>
            </div>
        </div>
    </header>
</head>