doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js' crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet' type='text/css')
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js")
        script(src="https://cdn.startbootstrap.com/sb-forms-latest.js")
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', rel='stylesheet')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
        style
            include ../public/css/main.css
            include ../public/css/sideNavi.css
    body 
        nav#mainNav.navbar.navbar-expand-lg.navbar-light
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top')
                    img(src='./assets/img/logo.png', width='230px')
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ms-auto
                    li.nav-item
                        a.nav-link(href='#about') login
                    li.nav-item
                        a.nav-link(href='#projects') subscribe
                    li.nav-item
                        a.nav-link(href='#signup') product
                    li.nav-item
                        a.nav-link(href='#signup') board
