include headerMypage
nav 
  #wrapper.d-flex
    //- Sidebar
    #sidebar-wrapper.border-end.bg-white
      .sidebar-heading.border-bottom.bg-light My Page
      .list-group.list-group-flush
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='http://localhost:3000/mypage') Profile
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='http://localhost:3000/qna') Q&A
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Event
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Status1
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Status2
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Status3
    
    //- Body(Profile modify)
    #wrapper
      form(action='/result_modify', method='POST')
          div.row
              div.col-md-6 name:
              div.col-md-6
                  //- input value=변수 => 벡틱+$ => `${변수}`
                  input(name="modiname" value=`${username}`) 
          div.row
              div.col-md-6 email:
              div.col-md-6
                  input(name="modiemail" value=`${useremail}`)
          div.row
              div.col-md-6 addr:
              div.col-md-6
                  input(name="modiaddr" value=`${useraddr}`)
          input(type='submit', value='수정')
include footerMypage