<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <p></p>
        <div class="row">
            <div class="col-md-4"> My Subs List</div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-3"> 구독상품</div>
            <div class="col-md-3"> 상세 구성품</div>
            <div class="col-md-3"> 시작 날짜</div>
            <div class="col-md-3"> 구독 기간</div>
        </div>
        <div class="row">
            <div class="col-md-3"><&=subsName%></div>
            <div class="col-md-3"><&=subDetail%></div>
            <div class="col-md-3"><&=subsDate%></div>
            <div class="col-md-3"><&=subsPeriod%></div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-4"> My Order List</div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-3"> 상품명</div>
            <div class="col-md-3"> 카테고리</div>
            <div class="col-md-3"> 구매가격</div>
            <div class="col-md-3"> 구매날짜</div>
        </div>
        <div class="row">
            <div class="col-md-3"><&=itemName%></div>
            <div class="col-md-3"><&=itemCate%></div>
            <div class="col-md-3"><&=itemPrice%></div>
            <div class="col-md-3"><&=itemDate%></div>
        </div>
    </div>
</body>

</html>