<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <h2><%=title %></h2>
        <form action="/save" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="email" placeholder="Enter Name" name="name">
            </div>

            <div class="form-group">
                <label for="email">Title:</label>
                <input type="text" class=" form-control" id="email" placeholder="Enter Title" name="title" required>
            </div>

            <div class="form-group">
                <label for="phone">Message:</label>
                <input type="text" class=" form-control" id="pwd" placeholder="Enter Message" name="message" required>
            </div>
            <button type="submit" class="btn btn primary">Submit</button>
        </form>
        

    </div>
</body>

</html>